body {
  margin: 0;
  overflow: hidden;
  background: url("./assets/background/desert-bg.png") repeat-x;
  background-size: cover;
}

canvas {
  display: block;
  border: 2px solid black;
}
