body {
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #87CEEB;
}

canvas {
  display: block;
  border: 2px solid black;
}
